.cover {
    width: 1100px;
    height: 757px;
    margin-bottom: 180px;
    background-image: url('/images/cover.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -135px;
    position: relative;
    z-index: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 60%;
    z-index: -1;
}

.lots {
    margin-bottom: 120px;
    background-color: white;
    padding-left: 24px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
}

.logo-header {
    width: 148px;
    height: 105px;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 31.48px;
}

.menu-list-item {
    list-style: circle;
}

.menu-list :first-child {
    list-style: none;
}

.info {
    padding-left: 184px;
    line-height: 24.3px;
}

.cover-title {
    display: flex;
    padding: 165px 50px 207px;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    color: white;
}

.item-first {
    align-self: flex-start;
}

.item-second {
    align-self: center;
    padding-left: 30px;
}

.item-third {
    align-self: flex-end;
    position: relative;
    right: -30px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    left: 0;
    right: 0;
    bottom: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 110%;
    text-transform: uppercase;
    color: white;
}

.description-text {
    word-spacing: 19px;
}

.bet-placing {
    padding: 12px 32px 11px 31px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0%;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px;
    border-color: white;
    border-style: solid;
    color: white;
}

.lots-title {
    padding-left: 40px;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
}

.lots-cards {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-item {
    position: relative;
    width: 334px;
    height: 596px;
    background-size: auto 100%;
    background-position: center;
    z-index: 1;

    color: white;
}

.card-item a {
    text-decoration: none;
}
.card-item.first-lot {
    background-image: url("/images/card-lot-01.jpg");
}

.card-item.second-lot {
    background-image: url("/images/card-lot-02.jpg");
}

.card-item.third-lot {
    background-image: url("/images/card-lot-03.jpg");
}

.card-title {
    padding: 48px 40px 0px 40px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120%;
    text-decoration: underline;
}

.card-text {
    margin-top: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding: 0px 40px 48px 40px;
}

.lots-more {
    padding-left: 40px;
    font-weight: 400;
    font-size: 20px;
}

.about {
    padding: 35px 0 24px 47px;
    display: flex;
    gap: 72px;
    margin-bottom: 180px;
}

.about-logo {
    height: 240px;
    width: 240px;
    background-image: url("/images/Ellipse\ 10.png");
    position: relative;
}

.logo-white {
    position: absolute;
    height:114px;
    width:148px;
    top: 64px;
    right: 46.48px;
}

.about h2 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 98px;
}

.about-column.second-column {
    display: flex;
    flex-direction: column;
}

.about-text {
    max-width: 690px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about-text p {
    margin-bottom: 24px;
}

.about-text p:last-child {
    margin-bottom: 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px 82px 50px;
    background-color: white;     
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.footer address {
    font-style: normal;
}


.footer-menu {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    line-height: 22px;
    
}
.footer-menu .menu-list-item {
    list-style: none;
}


.footer-menu .main-page a {
    text-decoration: none;
}


.footer-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer-list img {
    width: 48px;
    height: 48px;
}
